<div id="races_tab" class="margin_top_3" role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
    	<a href="#archer" aria-controls="archer" role="tab" data-toggle="tab">Arqueiro</a>
    </li>
    <li role="presentation">
    	<a href="#warrior" aria-controls="warrior" role="tab" data-toggle="tab">Guerreiro</a>
    </li>
    <li role="presentation">
    	<a href="#ranger" aria-controls="ranger" role="tab" data-toggle="tab">Ranger</a>
    </li>
    <li role="presentation">
    	<a href="#thief" aria-controls="thief" role="tab" data-toggle="tab">Ladrão</a>
    </li>
    <li role="presentation">
    	<a href="#barbarian" aria-controls="barbarian" role="tab" data-toggle="tab">Bárbaro</a>
    </li>
    <li role="presentation">
    	<a href="#monk" aria-controls="monk" role="tab" data-toggle="tab">Monge</a>
    </li>
    <li role="presentation">
    	<a href="#mage" aria-controls="mage" role="tab" data-toggle="tab">Mago</a>
    </li>
    <li role="presentation">
    	<a href="#bard" aria-controls="bard" role="tab" data-toggle="tab">Bardo</a>
    </li>
    <li role="presentation">
    	<a href="#cleric" aria-controls="cleric" role="tab" data-toggle="tab">Clérigo</a>
    </li>
    <li role="presentation">
    	<a href="#paladin" aria-controls="paladin" role="tab" data-toggle="tab">Paladino</a>
    </li>
    <li role="presentation">
    	<a href="#druid" aria-controls="druid" role="tab" data-toggle="tab">Druida</a>
    </li>
    <li role="presentation">
    	<a href="#witch" aria-controls="witch" role="tab" data-toggle="tab">Feiticeiro</a>
    </li>
  </ul>
  <div class="tab-content vert_pad">
    <div role="tabpanel" class="tab-pane row_pad active" id="archer">
			<h3>Arqueiros</h3>
			<p>Custo: 3 Pontos de Aprimoramento, 200 Pontos de Perícia</p>
			<p>Restrições: Nenhuma</p>
			<p>Perícias: Arco ([DEX/0, qualquer tipo 40%); Escolha outra arma [DEX/DEX] 20/20; Caça [PER] 10%; Esquiva [AGI] 30%; Animais (Montaria [AGI] 20%); Camuflagem [PER] 30%; Escutar [PER] 20%; Furtividade [AGI] 30%; Procura [PER] 10%, Rastreio [PER] 20%, Sobrevivência
			(escolha um ambiente) 30%, Subterfúgio 20%;</p>
			<p>Aprimoramentos: Pontos Heróicos 4, Arma preferencial</p>
			<p>Pontos de Fé: 0</p>
			<p>Pontos Heróicos: 4 por nível</p></div>
		<div role="tabpanel" class="tab-pane row_pad" id="warrior">
			<h3>Guerreiro</h3>
			<p>Lutadores</p>
			<p>Custo: 3 pontos de Aprimoramento, 200 Pontos de Perícia</p>
			<p>Restrições: Nenhuma</p>
			<p>Perícias: Armas brancas (Qualquer arma [DEX/ DEX] 40/40; 30/20 em outra); Armeiro [0/ Ferreiro ou Carpinteiro] 10%; Escudo [DEX] 30%; Esquiva [AGI] 30% Furtividade [AGI] 20%; Animais (Montaria [AGI] 20%); Escutar [PER] 10%; Esportes (Arremesso [DEX] 10%); Manipulação (Intimidação [WILL] 20%); Sobrevivência [PER] 20%.</p>
			<p>Aprimoramentos: Pontos Heróicos 4, Arma prefencial</p>
			<p>Pontos de Fé: 0</p>
			<p>Pontos Heróicos: 4 por nível</p></div>
		<div role="tabpanel" class="tab-pane row_pad" id="ranger">
			<h3>Rangers</h3>
			<p>Custo: 3 pontos de Aprimoramento, 240 Pontos de Perícia</p>
			<p>Restrições: Nenhuma</p>
			Perícias: Armas Brancas de Longo Alcance (Arco qualquer [DEX/ 0] 30%); Espada Curta [DEX/ DEX] 30/25; Adaga [DEX/ DEX] 20/20; Armadilhas [INT] 20%; Caça [PER] 40%;Camuflagem [PER] 10%; Ciências (Herbalismo [0]) 20%; Furtividade [AGI] 20%; Animais (Montaria [AGI] 20%); Rastreio [PER] 30%; Sobrevivência [PER] (Floresta) 40%; Venefício [0] 10%.
			<p>Aprimoramentos: Pontos Heróicos 4, Companheiro Animal</p>
			<p>Pontos de Fé: 0</p>
			<p>Pontos Heróicos: 4 por nível</p></div>
		<div role="tabpanel" class="tab-pane row_pad" id="thief">
			<h3>Ladrão</h3>
			<p>Custo: 3 pontos de Aprimoramento, 250 pontos de Perícia</p>
			<p>Restrições: Nenhuma</p>
			<p>Perícias: Armas Brancas (Adaga [DEX/DEX] 20/20); Armadilhas [INT] 30%; Artes (Joalheria [DEX] 10%; Escapismo [AGI] 30%); Avaliação de Objetos [PER] 10%; Camuflagem [PER]
			20%; Disfarce [INT] 10%; Escutar [PER] 20%; Furtar [DEX] 40%; Furtividade [AGI] 30%; Manipulação (Intimidação [WILL] 10%; Lábia [CAR/ Manha] 20%); Manuseio de fechaduras [DEX] 40%; Ocultamento [AGI] 20%; Subterfúgio [AGI] 20%; Procura [AGI] 20%.</p>
			<p>Aprimoramentos: Pontos Heróicos 3, Ataque Furivo</p>
			<p>Pontos de Fé: 0</p>
			<p>Pontos Heróicos: 3 por nível</p></div>
		<div role="tabpanel" class="tab-pane row_pad" id="barbarian">
			<h3>Bárbaro</h3>
			<p>Custo: 2 Pontos de Aprimoramento, 250 Pontos de Perícia.</p>
			<p>Restrições: Nenhuma</p>
			<p>Perícias: Armas Brancas (Machado 40/40, Clava 30/20 [DEX/DEX]); Esquiva [AGI] 20%; Animais (Montaria [AGI] 20%); Armadilhas [INT] 20%; Caça [PER] 20%; Ciências (Herbalismo [0]  10%); Esportes (Escalada [AGI] 20%; Natação [AGI] 20%, Corrida [CON] 20%); Rastreio [PER] 20%; Sobrevivência (Escolha um tipo) [PER] 40%; Venefício [0] 20%.</p>
			<p>Aprimoramentos: Pontos Heróicos 4, Fúria</p>
			<p>Pontos de Fé: 0</p>
			<p>Pontos Heróicos: 4 por nível</p>
			<p>Bárbaros são os únicos personagens que não sabem automaticamente como ler e escrever. Um Bárbaro pode gastar 10 pontos de perícia para ganhar a habilidade de ler e escrever em
			algum idioma que saiba falar. Bárbaros não podem comprar o Aprimoramento Poderes
			Mágicos, e sofrem um redutor de -15% sempre que estiverem utilizando um item mágico qualquer. Todos os Bárbaros são analfabetos, não sabem ler nem escrever, apenas falar, geralmente de forma rústica.</p></div>
		<div role="tabpanel" class="tab-pane row_pad" id="monk">
			<h3>Monge</h3>
			<p>Custo: 3 Pontos de Aprimoramento, 250 Pontos de Perícia</p>
			<p>Restrições: Nenhuma</p>
			<p>Perícias: Artes Marciais (Qualquer [AGI/AGI] 40/40); Armas Brancas (Bastão [DEX/DEX] 30/30); Concentração [WILL] 20%; Ciências (Filosofia [0]) 30%; Esquiva [AGI] 40%; Esportes
			(Acrobacia [AGI] 20%, Salto [AGI] 20%); Furtividade [AGI] 20%; Manipulação (Empatia [CAR] 20%; Impressionar [CAR/ Etiqueta] 20%; Intimidação [WILL] 20%); Subterfúgio [PER] 30%.</p>
			<p>Aprimoramentos: Pontos Heróicos 3, Ataque Desarmado</p>
			<p>Pontos de Fé: 0</p>
			<p>Pontos Heróicos: 3 por nível</p>
			<p>Especial: Uma vez por dia o Monge pode despender um pouco de sua energia Chi em seus golpes desarmados, causando +1 de dano para cada 20% que ele tiver na Perícia Ciências (Filosofia).</p></div>
		<div role="tabpanel" class="tab-pane row_pad" id="mage">
			<h3>Mago</h3>
			<p>Custo: 3 pontos de Aprimoramento, 200 pontos de Perícia</p>
			<p>Restrições: Nenhuma</p>
			<p>Perícias: Armas Brancas (Bastão [DEX/DEX] 10/10, Adaga [DEX/DEX] 10/10); Ciências (Herbalismo [0] 20%, pelo menos 3 subgrupos [0] 20%); Ciências Proibidas (Alquimia [0] 30%,
			Astrologia [0] 20%, Ocultismo [0] 20%, Rituais [0] 30%, Teoria da Magia [0] 30%); Concentração [WILL] 10%; Conhecimentos [0] (ao menos 2 com 20%); Pesquisa/ Investigação [INT] 20%.</p>
			<p>Aprimoramentos: Pontos Heróicos 1, Poderes Mágicos 1, Failiar</p>
			<p>Pontos Heróicos: 1 + 1 por nível</p>
			<p>Pontos de Fé: 0</p>
			<p>Pontos de Magia: 2 + 2 por nível</p>
			Caminhos Preferidos: Depende da especialização do Mago.</div>
		<div role="tabpanel" class="tab-pane row_pad" id="bard">
			<h3>Bardo</h3>
			<p>Custo: 3 pontos de Aprimoramento, 220 pontos de Perícia</p>
			<p>Restrições: Nenhuma</p>
			<p>Perícias: Artes (Atuação [CAR] 20%, Canto 30% [CAR], Instrumento Musical[DEX]40%);
			Ciências (História [0] 20%); Ciências proibidas (Teoria da Magia [0] 20%);
			Camuflagem [PER] 20%; Conhecimento (Lendas [0] 30%); Disfarce [INT] 20%; Etiqueta [CAR] 20%; Idiomas (Idioma nativo 10%, Ler e escrever 10%); Pesquisa/ Investigação [INT] 10%;  Manipulação (Diplomacia [CAR] 20%, Impressionar [CAR] 10%, Lábia [CAR/ Manha] 10%, Sedução [CAR] 10%); Subterfúgio [AGI] 10%;</p>
			<p>Aprimoramentos: Pontos Heróicos 1, Poderes Mágicos 1, Contatos e Aliados 2</p>
			<p>Pontos de Fé: 0</p>
			<p>Pontos Heróicos: 1 por nível</p>
			<p>Pontos de Magia: 2 + 2 por nível</p>
			<p>Caminhos Preferidos: Humanos, Meta-magia O Bardo precisa ter Artes 10% para cada ponto de focus final que desejar alocar a um Caminho ou Forma. Ele distribui os Pontos de Focus, gasta os Pontos de Magia necessários e então realiza um teste de Artes. Se passar no teste sua magia musical é efetiva (e poderá ser trocada durante as 3d6 rodadas em que o efeito está ativo), caso contrário seus Pontos de Magia são gastos e a magia se perde.</p></div>
		<div role="tabpanel" class="tab-pane row_pad" id="cleric">
			<h3>Clérigo</h3>
			<p>Custo: 4 pontos de Aprimoramento, 200 pontos de Perícia</p>
			<p>Restrições: De acordo com a divindade escolhida</p>
			<p>Perícias: Armas Brancas (Maça [DEX/DEX] 30/30, Cajado [DEX/DEX] 20/20); Ciências (Teologia [0] 40%); Conhecimento (ligado à área de atuação da sua divindade [0] 30%); Concentração 30%; Etiqueta [CAR] 30%; Primeiros Socorros [INT] 30%;</p>
			<p>Aprimoramentos: Pontos Heróicos 2, Pontos de Fé 4</p>
			<p>Pontos de Fé: 5 + 1 por nível</p>
			<p>Pontos Heróicos: 2 por nível</p>
			Caminhos Preferidos: De acordo com a divindade escolhida Um Clérigo deve escolher uma divindade para ser seu Patrono. Veja regras para divindades adiante.</div>
		<div role="tabpanel" class="tab-pane row_pad" id="paladin">
			<h3>Paladino</h3>
			<p>Custo: 5 pontos de Aprimoramento, 300 pontos de Perícia</p>
			<p>Restrições: Nenhuma. Consulte a descrição da divindade do personagem.</p>
			Perícias: Armas Brancas (Espada Longa/ Espada Bastarda/ Espada de Duas mãos [DEX/DEX] 40/40, Maça de Cavalaria [DEX/DEX] 30/20); Escudos [DEX] 20%; Ciências (Herbalismo [0]
			30%, Teologia [0] 40%); Furtividade [AGI] 30%; Primeiros Socorros [INT] 30%; Etiqueta [CAR] 20%; Manipulação (Empatia [CAR] 30%, Liderança [CAR] 20%, Diplomacia 20%).
			Aprimoramentos: Pontos Heróicos 4, Pontos de Fé 3, Montaria Especial
			<p>Pontos de Fé: 3 + 1 por nível</p>
			<p>Pontos Heróicos: 4 por nível</p>
			<p>Caminhos Preferidos: Luz e Água. O Paladino não pode gastar seus Pontos de Focus em nenhum outro Caminho. O Paladino ganha o serviço de um cavalo de inteligência,
			força e lealdade incomuns para servi-lo na sua cruzada contra o mal. Esta montaria costuma ser um cavalo de batalha pesado. Veja regras para Montaria de Paladino adiante. Um Paladino deve escolher uma divindade para ser seu Patrono. Veja regras para Divindades adiante. Um Paladino perde todas as habilidades de Classe se vier a cometer um ato maligno por vontade
			própria. Além disso, o código de um Paladino requer que ele respeite autoridades legítimas, aja com honra (não mentir, não trapacear, não usar veneno, e daí por diante), ajudar os necessitados (desde que não usem a ajuda para fins maus ou caóticos), e punir aqueles que
			ameaçarem inocentes. Um Paladino jamais se associará conscientemente a personagens malignos, nem continuará associado a alguém que consistentemente ofender seu código moral. Um Paladino só pode aceitar empregados, seguidores e companheiros que sejam leais e bons.</p></div>
		<div role="tabpanel" class="tab-pane row_pad" id="druid">
			<h3>Druida</h3>
			<p>Custo: 4 pontos de Aprimoramento, 250 pontos de Perícia</p>
			<p>Restrições: Nenhuma</p>
			<p>Perícias: Armas Brancas (Bastão [DEX/DEX] 30/20); Esquiva [AGI] 20%; Animais (Empatia
			com Animais [INT] 20%, Tratamento de Animais [Primeiros Socorros] 20%, Doma [0] 20%); Caça [PER]  20%; Camuflagem [PER] 30%; Ciências (Religião [0] 30%, Herbalismo [0] 30%,
			Metereologia [0] 10%); Esportes (Escalada [AGI] 10%, Natação [AGI] 20%, Corrida
			[CON] 10%); Furtividade [AGI] 20%; Primeiros Socorros [INT] 20%; Rastreio [PER] 10%; Sobrevivência (Florestas [PER] 30%).</p>
			<p>Aprimoramentos: Pontos Heróicos 3, Pontos de Fé 3, Companheiro Animal</p>
			<p>Pontos de Fé: 3 + 1 por nível</p>
			<p>Pontos Heróicos: 3 por nível</p>
			<p>Caminhos Preferidos: Fogo, Água, Ar, Terra, Plantas e Animais. O Druida não pode gastar seus Pontos de Fé em nenhum outro caminho. Um druida começa automaticamente sabendo
			falar com 30% o silvestre, idioma das criaturas da floresta. Um druida também sabe Druídico, um língua secreta conhecida apenas por Druidas, o qual aprende ao se tornar um druida nível 1. O druida começa com Drúidico 50% e ganha +10% a cada novo nível que alcança nesta Classe. Druidas são proibidos de ensinar este língua a não-Druidas. Druídico tem seu próprio alfabeto. Druidas são proibidos de usar armas e armaduras de metal. Um druida que vestir uma armadura proibida ou usar uma arma proibida perde a capacidade de usar magias e de usar qualquer de suas habilidades de Classe enquanto o fizer e por 24 horas daí em diante.</p></div>
		<div role="tabpanel" class="tab-pane row_pad" id="witch">
			<h3>Feiticeiro</h3>
			<p>Custo: 2 pontos de Aprimoramento, 150 pontos de Perícia</p>
			<p>Restrições: Nenhuma</p>
			<p>Perícias: Armas Brancas (Adaga [DEX/DEX] 10/ 10, Bastão [DEX/DEX] 10/ 10), Esquiva [AGI] 20%, Ciências Proibidas (Alquimia [0] 30%, Ocultismo [0] 20%, Rituais [0] 30%, Teoria da Magia [0] 30%); Concentração [WILL] 20%; Escutar [PER] 10%.</p>
			<p>Aprimoramentos: Pontos Heróicos 1, Poderes Mágicos 1, Familiar</p>
			<p>Pontos Heróicos: 1 por nível</p>
			<p>Pontos de Magia: 4 + 2 por nível</p>
			<p>Pontos de Fé: 0</p>
			<p>Caminhos Preferidos: Nenhum.</p>
			<p>Devido à sua natureza abundantemente mágica, um Feiticeiro começa o jogo com o dobro de Pontos de Magia que comumente ganharia pelo seu Aprimoramento Poderes Mágicos. Feiticeiros não aprendem Formas, ou seja, não podem gastar pontos de focus em Criar,
			Controlar e Entender. Os Feiticeiros não aprendem a lançar Magias, eles já nascem com elas. Por isso, mesmo que encontrem uma nova Magia em algum livro, eles não poderão aprendê-las como fariam os Magos. Os Feiticeiros aprendem novas Magias a cada nível, e esta Magia sempre será aleatória. Eles não podem escolher que Magias desejam aprender, elas apenas surgem em sua mente...</p></div>
  </div>
</div>


			
 

			 

			 

			 

			 

			 

			 
			 
			 

			 

			 

			 

			 

			 

			 
