<div id="races_tab" class="margin_top_3" role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#human" aria-controls="human" role="tab" data-toggle="tab">Humano</a></li>
    <li role="presentation"><a href="#dwarven" aria-controls="dwarven" role="tab" data-toggle="tab">Anão</a></li>
    <li role="presentation"><a href="#elf" aria-controls="elf" role="tab" data-toggle="tab">Elfo</a></li>
    <li role="presentation"><a href="#half_elf" aria-controls="half_elf" role="tab" data-toggle="tab">Meio Elfo</a></li>
    <li role="presentation"><a href="#gnome" aria-controls="gnome" role="tab" data-toggle="tab">Gnomo</a></li>
    <li role="presentation"><a href="#halfling" aria-controls="halfling" role="tab" data-toggle="tab">Halfling</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane row_pad active" id="human">
    	<h3>Humanos</h3>
			<p>Custo: 0 Pontos</p>
			<p>Atributos: Normais</p>
			<p>Idade Inicial: 16+1d6 anos</p>
			<p>Vantagens: Humanos falam o idioma Comum, e por isso começam com 30% nesta perícia; São versáteis e competentes, e aprendem rápido o que lhes é ensinado – Humanos recebem 5 pontos de perícia adicionais no 1º nível e a cada vez que passam de nível.</p>
			<p>Desvantagens: Nenhuma</p>
    </div>
    <div role="tabpanel" class="tab-pane row_pad" id="dwarven">
			<h3>Anões</h3>
			<p>Custo: 1 ponto</p>
			<p>Atributos: +2 CON, +1 FR, -1 AGI, -2 CAR. Anões são fortes e resistentes, mas costumam ser lentos e pouco amigáveis.</p>
			<p>Idade Inicial: 21+2d6 anos</p>
			<p>Vantagens: Anões falam o idioma Anão, e por isso começam com 30% nesta perícia; Anões podem enxergar no escuro, mesmo sem nenhuma luz; Anões ganham um bônus de 10% em testes que envolvam pedras, metais preciosos, rochas, cavernas e montanhas;
			+5% em testes de resistência contra venenos; +15% em testes de resistência contra efeitos mágicos; +5% nos testes de ataque contra orcs e goblinóides, inimigos naturais dos Anões; +5% nos testes ligados a Artesanato e Ofícios com pedras e metais.</p>
			<p>Desvantagens: da mesma forma que Anões ganham um bônus contra efeitos mágicos, sempre que um Anão utilizar um instrumento mágico, é aplicado uma penalidade de -15%; Anões não podem comprar o Aprimoramento Poderes Mágicos, nem adquiri-lo com um kit</p>
    </div>
    <div role="tabpanel" class="tab-pane row_pad" id="elf">
			<h3>Elfos</h3>
			<p>Custo: 1 ponto</p>
			<p>Atributos: +2 AGI, -2 CON, +2 CAR. Elfos têm corpos ágeis e graciosos, mas leves e frágeis. Quando querem, são muito carismáticos.</p>
			<p>Idade Inicial: 16+3d6 anos.</p>
			<p>Vantagens: Elfos falam o idioma Élfico, e por isso começam com 30% nesta perícia; Elfos são imunes ao sono e efeitos de magia similares; Um Elfo consegue enxergar duas vezes mais que um humano na penumbra, distinguindo cores e detalhes; Elfos são muito competentes com Arcos e Espadas Longas, recebendo +10% nos testes de ataque com estas armas.<p>
			<p>Desvantagens: Nenhuma </p>
    </div>
    <div role="tabpanel" class="tab-pane row_pad" id="half_elf">
			<h3>Meio-Elfos</h3>
			<p>Custo: 1 ponto</p>
			<p>Atributos: +1 AGI, -1 CON. Têm um pouco das características físicas das duas raças originárias.</p>
			<p>Idade Inicial: 16+2d6</p>
			<p>Vantagens: Meio-elfos falam o idioma Élfico ou Comum (dependendo de onde cresceram), e por isso começam com 30% nesta perícia; Os Meio-elfos têm a mesma capacidade dos Elfos de enxergar na penumbra duas vezes mais que um humano, distinguindo cores e detalhes.<p>
			<p>Desvantagens: Nenhuma</p>
    </div>
    <div role="tabpanel" class="tab-pane row_pad" id="gnome">
			<h3>Gnomos</h3>
			<p>Custo: 2 pontos</p>
			<p>Atributos: +2 CON, -2 FR. Assim como os Anões, Gnomos são resistentes, mas devido ao corpo pequeno são pouco fortes.</p>
			<p>Idade Inicial: 25+2d6 anos</p>
			<p>Vantagens: Os Gnomos falam o idioma Gnomo, e por isso começam com 30% nesta perícia; Gomos enxergam duas vezes mais que um humano na penumbra, distinguindo cores e detalhes; +10% nos testes de resistência contra ilusões, pois esta raça é familiarizada com ilusões de todos os tipos; +5% nos testes de ataque contra orcs, goblinóides e kobolds; +10% nos testes de Alquimia: Gnomos possuem um nariz sensível que facilita a identificação de
			componentes alquímicos; Gnomos ilusionistas gastam 1 PM a menos para lançar qualquer magia com focus em Luz.</p>
			<p>Desvantagens: Apenas podem usar equipamentos projetados para criaturas pequenas.</p>
    </div>
    <div role="tabpanel" class="tab-pane row_pad" id="halfling">
			<h3>Halflings</h3>
			<p>Custo: 1 ponto</p>
			<p>Atributos: +3 AGI, +3 DEX, -4 FR, -2 CON.</p>
			<p>Idade Inicial: 16+1d6 anos.</p>
			<p>Vantagens: Halflings falam o idioma Halfling e por isso começam com 30% nesta Perícia; Recebem +10% em Furtividade e Esportes (Escalada); +5% em Arremesso incluindo Ataque com armas de arremesso (funda, lança, dardo, etc).</p>
			<p>Desvantagens: Deve usar equipamentos próprios para criaturas pequenas.</p>
    </div>
  </div>
</div>

 
