/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require redactor
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.row_pad {
	padding: 10px;
}

.vert_pad {
	padding: 10px 0;
}

.not_pad {
	padding: 0;
}

.box_elements_left {
	text-align: center;
	border: solid 1px #2F587B;
	margin: 10px 0;
	background-color: #337AB7;
	color: #ffffff;
	text-shadow: -1px 1px 3px #000;
	border-radius: 5px;

	p {
		font-size: 30px;
	}

	p.small {
		font-size:	15px;
		line-height: 41px;
	}
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.input-group-max {
	width: 70px;
	font-size: 10px;
	padding: 5px 5px;
}

.input-group-min {
	width: 57px;
}

.margin_top {
	margin-top: 10px;
}

.margin_top_3 {
	margin-top: 30px;
} 

.strong {
	font-weight: 600;
}

#show_character {
	#character_infos {
		p {
			margin: 0;
			span {
				font-size: 18px;
			}
		}
	}

}