<!DOCTYPE html>
<html>
<head>
  <title>Daemon :: RPG</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="margeable" id="principal_container">
	<header>
		<%= render partial: 'layouts/header' %>
	</header>
  
  <div id="base_container"></div>
</div>

</body>
</html>
